<div class="container">
    <div class="row">
        <div class="col-xs-4">
              <span class="label label-success">Source</span>
              <div class="text-justify" id="textSource">
                <h2>ECMAScript 6:</h2>
                  <p>ECMAScript 2015 <span class="blackout">(6th Edition)</span> is the current version of the ECMAScript Language Specification standard. <span class="blackout">Commonly referred to as "ES6"</span>, it defines the standard for the JavaScript implementation in SpiderMonkey, the engine used in Firefox and other Mozilla applications.</p>
                  <p>Code-named "ES.next" or "Harmony", <span class="blackout">the first working draft (based on ECMAScript 5.1) was published on July 12, 2011 as "ES.next".</span> In August 2014, the ECMAScript 6 draft specification was feature frozen and went through a stabilization and bug fixing period. Finally, ECMA-262 Edition 6 got officially approved and published as a standard on June 17, <span class="blackout">2015 by the ECMA General Assembly</span>. It will also appear as the international industry standard ISO/IEC 16262:2016.</p>
              </div>
        </div>
        <div class="col-xs-4">
          <span class="label label-warning">Hidden</span>
            <div class="text-justify">
              <blackout source="textSource" type="hide"></blackout>
            </div>
        </div>
        <div class="col-xs-4">
          <span class="label label-danger">Removed</span>
          <div class="text-justify">
            <blackout source="textSource" type="remove"></blackout>
          </div>
        </div>
    </div>
</div>
